* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(40deg, #f3d7cf 55%, #ffffff);
  background-repeat: no-repeat;
  height: 100%;
  background-attachment: fixed;
}

#logo_cabecera {
  margin-left: 10px;
  width: 140px;
  height: auto;
  cursor: pointer;
  transition: all 0.3s;
}

#logo_cabecera:hover {
  transform: scale(1.05);
}

/* Para poner el footer en la parte inferior y no se suba */

.contenedor_principal {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

/* Barra de navegación*/

header {
  padding: 5px 0px;
  background-color: rgb(173, 16, 16);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header nav .nav_links {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
}

.inicio,
.quienes_somos,
.pagos,
.hacer_pedido,
.testimonios {
  transition: all 0.3s;
}

.inicio:hover,
.quienes_somos:hover,
.pagos:hover,
.hacer_pedido:hover,
.testimonios:hover {
  border-style: solid;
  border-width: 4px;
  border-color: black;
  color: red;
  background-color: #ffffff;
  border-radius: 10%;
  transform: scale(1.1);
}

.productos {
  transition: all 0.3s;
}

.productos:hover {
  border-style: solid;
  border-width: 2px;
  border-top-color: black;
  border-left-color: black;
  border-right-color: black;
  color: red;
  background-color: #ffffff;
  border-radius: 10%;
  transform: scale(1.1);
}

header nav .nav_links .links_productos {
  list-style: none;
}

a {
  font-size: 22px;
  font-family: "Anton SC", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 0px 10px;
  margin: 0px 5px;
  display: block;
}

header .nav_links .links_productos a {
  color: red;
}

.mas_vendidos,
.damas,
.caballeros,
.ninos_bebes,
.accesorios,
.solo_adultos {
  font-size: 17px;
}

header nav .nav_links .links_productos li {
  width: 140px;
}

.links_productos {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: absolute;
}

.links_productos {
  display: none;
  color: red;
}

nav .nav_links li:hover > .links_productos {
  display: block;
  background-color: #ffffff;
  border-style: solid;
  border-width: 2px;
  border-top-color: black;
  border-left-color: black;
  border-right-color: black;
  color: red;
}

.mas_vendidos:hover,
.damas:hover,
.caballeros:hover,
.ninos_bebes:hover,
.accesorios:hover,
.solo_adultos:hover {
  border-color: black;
  color: red;
  border-style: solid;
  border-width: 2px;
  background-color: #ffffff;
  border-radius: 10%;
  transform: scale(1.1);
}

/* Terminando Barra de Navegacion*/

/* Botton de contacto */
.contactanos {
  background-color: #fff;
  border: 0 solid #e2e8f0;
  border-radius: 1.5rem;
  box-sizing: border-box;
  color: #0d172a;
  cursor: pointer;
  display: inline-block;
  font-family: "Basier circle", -apple-system, system-ui, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1;
  padding: 1rem 1.6rem;
  margin-left: 8px;
  text-align: center;
  text-decoration: none #0d172a solid;
  text-decoration-thickness: auto;
  transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.contactanos:hover {
  background-color: #1e293b;
  color: #fff;
}


/* Secciones de la página */

.vendedor {
  padding: 1rem;
  height: 25rem;
  width: auto;
}
.seccion_01 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

h1, h2 {
  font-size: 35px;
  text-align: center;
  font-family: "Anton SC", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  margin-bottom: 30px;
}

.articulo_01 {
  width: 35%;
  margin-left: 5%;
}

.texto_01 {
  text-align: justify;
  text-indent: 35px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 1.15rem;

}

.articulo_02 {
  width:35%
}

.seccion_02 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.pasos_compra {
  padding: 16px;
}

.articulos_webs {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}



.marco_webs {
border-radius: 2%;
cursor: pointer;  
transition: all 0.3s;
}

.marco_webs:hover{
   transform: scale(0.90);
   transition: all 0.3 s;
}


h3 {
  text-align: center;
}


/* Footer */

footer {
  font-size: 12px;
  text-align: center;
  padding: 20px;
  font-family: "Momo Signature", cursive;
  font-weight: 400;
  font-style: normal;
  background-color: rgb(173, 16, 16);
  color: #ffffff;
}

.bandera {
  width: 35px;
  height: auto;
}
