* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    background: linear-gradient(40deg, #f3d7cf 55%,#FFFFFF);
    background-repeat: no-repeat;
    height: 100%;
    background-attachment: fixed;
}

#logo_cabecera {
    width: 150px;
    height: auto;
    cursor: pointer;
    transition: all 0.3s;
}

#logo_cabecera:hover {
transform: scale(1.2);
}

header {
    margin: 5px 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

/* Barra de navegacion */

nav {
    width: auto;
}

nav .nav_links li{
    list-style: none;
    background-color: #000;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}

nav .nav_links a{
    text-decoration: none;
    color:#FFFFFF;
    
}

nav ul li a:hover {
    background-color: #f81616;
}

.nav_links > li{
    float:left;
}

.nav_links ul li > a{
    display: none;   
}

.nav_links ul a:hover > li{
    display: none;   
}
/* Termina barra de navegacion */

/* nav .nav_links li{
    display: inline-block;
    color:#FFFFFF;
    list-style: none;
    text-decoration: none;
} */

/* nav .nav_links {
    background-color: #000;
} */

/* nav .nav_links .links_productos {
    list-style: none;
} */

h1 {
    text-align: center;
}

footer {
    text-align: center;
    font-family: "Momo Signature", cursive;
    font-size: 0.8em;
    font-weight: 400;
    font-style: normal;
    
}
